//fonts
$fontCart: 'Roboto';
$fontLogo: 'Quicksand';
$fontTitle: 'Nunito Sans';


//colors
$bg: #EFEEF3 ;
$subTitle: #7690A8;
$subColor: #16133D;
$green: #3DB370;
$bgIcon:#E5E5E5 ;
$borderColor: #E5EAF4;
$iconCart: #007FFC;
$iconCartHover: #52C29D;
$colorIconFooter: #0D0D0D;